* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 0 10%;
    margin-top: 3%;
}

#first {
    position: relative;
    margin-top: 3%;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 3%;
}

#logo {
    width: 20%;
}

ul {
    list-style-type: none;
    margin-top: 4%;
}

li {
    display: inline;
    margin: 0 1%;
}

li > a {
    text-decoration: none;
    color: grey;
}

#banner {
    display: block;
    width: 100%;
    border-radius: 20px;
    opacity: 0.8;
}

.textbox {
    position: absolute;
    line-height: 1.5;
    color: white;
    bottom: 5%;
    left: 5%;
    right: 3%;
    font-size: 115%;
}


#lightgrey {
    color: lightgrey;
    font-size: 65%;
}

.images {
    margin-top: 3%;
}

.image {
    float: left;
    background-color:black;
    border-radius: 20px;
}

.image.left, .image.right {
    width: 23%;
}

.image.middle {
    width: 50%;
    margin: 0 2%;
}

.img {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.grid {
    float: left;
    margin-top: 3%;
}

.grid.one , .grid.three {
    width: 23%;
}

.grid.two {
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
}

footer {
    padding: 3% 0;
    clear: both;
    text-align: center;
}